<h1>All cuisine types</h1>
@if (@Model.Count == 0)
{
  <p>There are no cuisine types.</p>
}
<ul>
  @foreach (var cuisine in Model)
  {
    <li><a href="/cuisines/@cuisine.GetId()">@cuisine.GetName()</a>  | <a href="/cuisine/edit/@cuisine.GetId()">Edit</a>| <a href="/cuisine/delete/@cuisine.GetId()">Delete</a></li>
  }
</ul>
<a href="/cuisines/new">Add new cuisine</a>
<a href="/cuisines/delete">Delete all cuisines</a>
