<h1>Edit Cuisine</h1>
<hr />
<h2>Edit cuisine: @Model.GetName()</h2>
<form action="/cuisine/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="cuisine-id" type="hidden" value="@Model.GetId()">
  <label for="cuisine-name">Cuisine name</label>
  <input id="cuisine-name" name="cuisine-name" type="text">
  <button type="submit">Submit</button>
</form>
<h4><a href="/">Return home</a></h4>
