@Html.Partial("header.cshtml")

<div class="container">
  <h1>Edit Restaurant</h1>
  <hr />
  <h2>Edit Restaurant: @Model.getName()</h2>
  <form action="/restaurants/edit/@Model.getID()" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input name="restaurant-id" type="hidden" value="@Model.getID()">
    <label for="edit">Edit</label>
    <input id="edit" name="edit" type="text">
    <button type="submit">Submit</button>
  </form>
  <h4><a href="/">Return home</a></h4>
</div>
