<h1>Add a new restaurant</h1>
<form action="/restaurants/new" method="post">
  <label for="name">restaurant name:</label>
  <input id="name" name="name" type="text">
  <br>
  <label for="address">restaurant address:</label>
  <input id="address" name="address" type="text">
  <br>
  <label for="phoneNumber">restaurant phoneNumber:</label>
  <input id="phoneNumber" name="phoneNumber" type="text">
  <br>
  <select name="cuisine-id">
    @foreach (var cuisine in Model)
    {
      <option value="@cuisine.GetId()">@cuisine.GetName()</option>
    }
  </select>
  <button type="submit">Add new restaurant</button>
</form>
<p><a href="/">Back home</a></p>
